body{
    background-color: #000000;
}
 .container h1{
    color: #fffeff;
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
 }
.container  {
    height: 35px;
    display: flex;
    justify-content:end;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.right {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 25px;
}
.banner{
    display: flex;
    height: 530px;
    background-image: url('../Images/bistroless.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0px -5px 50px #860292;
}

.card{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grnde', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    text-decoration: none;
    text-transform: uppercase;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 0px 0px 10px #bb06a3;
    margin-left: 10%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0px 0px 40px #bb06a3;
    transform: scale(1.05);
   
}

a {

    color: #00ccff;
    text-decoration: none;
}
.ChefHat{
    max-width: 150px;
    max-height: 150px;
    border: 2px dashed;
    border-color: #eaeef3;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
    margin-left: 80px;
    margin-top: 30px;
   
    
}
.ChefHat:hover{
    border-color: #860292;
    box-shadow: 0px 5px 100px #860292;
    transform: scale(1.5);
}

.container2{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container2 h1{
    display: flex;
    justify-content: center;
}
.banner h1 {
    color: rgb(252, 252, 252);
    font-size: 77px;
    margin-left: 1700px;
    text-decoration: underline 5px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;

}

